:host {
  display: block;
  position: absolute;
  inset: 0; // stretches to fill the parent card completely
  pointer-events: none;

  .icon-container ::ng-deep svg {
    position: absolute;
    bottom: -10px;
    right: -10px;
    opacity: 0.05;
    height: 200px;
    width: 200px;
  }
  .icon-container ::ng-deep svg {
    fill: blue;
    opacity: 0.1;
  }
}
