:root {
  --ic-blue: #003b71;
}
.top-bar {
  background-color: var(--ic-blue) !important;
}
.main-menu-container .main-menu-label {
  color: white !important;
}
.main-menu-container .mat-mdc-button:not(:disabled) {
  color: white !important;
}
.main-menu-container button .mat-icon {
  fill: white !important;
}
nde-logo img {
  height: 41px !important;
}
#user-area-button svg * {
  fill: white !important;
}
.record-thumbnail {
  outline: 0 !important;
}
nde-record-actions {
  display: flex !important;
}
mat-divider {
  display: none !important;
}
.ic-collection-block {
  position: relative;
  overflow: hidden;
  background-color: pink;
}
.ic-collection-block a:hover {
  text-decoration: underline !important;
  text-decoration-thickness: 1px !important;
  text-underline-offset: 2px !important;
}
.collection-discovery-header {
  background: var(--sys-primary-container) !important;
}
@media (max-width: 960px) {
  nde-record-actions ng-component {
    flex: 1 1 auto !important;
    a {
      width: 100% !important;
      button {
        width: 100% !important;
      }
    }
  }
}

/* LANDING PAGE */
.top-bar-background-image {
  background: var(--ic-blue) !important;
  & > .custom-search-bar-container {
    height: unset !important;
  }
}
.custom-search-bar-container h1 {
  display: none !important;
}
