mat-icon {
  color: #888 !important;
}
.ic-hide-me {
  display: none;
}
@media (max-width: 960px) {
  button {
    display: flex;
    align-items: center;
  }
  button mat-icon + span {
    font-size: 1rem;
    white-space: normal;
    line-height: normal;
    margin-left: 1rem;
  }
  .ic-hide-me {
    display: inline-block;
  }
  .mat-mdc-button-persistent-ripple {
    border-radius: 0 !important;
  }
}
