@if (shouldShowButton) {
<div class="flex-row action-button-container">
  <a href="{{ this.reportFormUrl }}"
    ><button
      class="center-actions-icons action-button mdc-icon-button mat-mdc-icon-button mat-unthemed mat-mdc-button-base"
      aria-label="Report a problem with this record"
      matTooltip="Report a problem with this record"
    >
      <span
        class="mat-mdc-button-persistent-ripple mdc-icon-button__ripple"
      ></span
      ><mat-icon
        aria-hidden="true"
        class="mat-icon warning-icon notranslate nde-mat-icon-size grey-icon-color-no-stroke mat-icon-no-color icon-outlined ng-star-inserter"
        >warning</mat-icon
      ><span class="ic-hide-me">Report a problem</span>
    </button></a
  >
  <span class="mat-focus-indicator"></span>
  <span class="mat-mdc-button-touch- target"></span>
  <span class="mat-ripple mat-mdc-button- ripple"></span>
</div>
}
