@if (shouldShowButton) {
<div class="flex-row action-button-container">
  <button
    class="center-actions-icons action-button mdc-icon-button mat-mdc-icon-button mat-unthemed mat-mdc-button-base"
    aria-label="Show permalink"
    matTooltip="Show permalink"
    (click)="openDialog()"
  >
    <span
      class="mat-mdc-button-persistent-ripple mdc-icon-button__ripple"
    ></span
    ><mat-icon
      aria-hidden="true"
      class="mat-icon warning-icon notranslate nde-mat-icon-size grey-icon-color-no-stroke mat-icon-no-color icon-outlined ng-star-inserter"
      >link</mat-icon
    ><span class="ic-hide-me">Show permalink</span>
  </button>
  <span class="mat-focus-indicator"></span>
  <span class="mat-mdc-button-touch- target"></span>
  <span class="mat-ripple mat-mdc-button- ripple"></span>
</div>
}
