.ic-collection-block {
  border: 2px solid #e4e4e4;
  border-radius: 14px;
  padding: 1rem 2rem !important;
  min-height: 300px;
  background-color: #f6f6f6;
  h2 {
    line-height: 2.2rem;
    font-size: 1.8rem;
  }
}
.ic-collection-block:hover {
  background-color: #fafafa;
  border: 2px solid #fde1d5;
  transition: 0.3s ease;
}
.ic-collection-block:hover ::ng-deep .icon-container svg {
  fill: red;
  transition: fill 0.3s ease;
}
